/* GENERAL STUFF */
body{
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;    
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    color: #444;
    font-size: 12px;
    height:100%;
}

body.naked{
    background: #eee;
}

a{
    color: #0a0;
}

a:hover{
    text-decoration: underline;
    color: #333;
}

a.admin{
    color: #c00;
    text-decoration: none;
}

a.admin:hover{
    background: #c00;
    color: #fff;
}

a.calendar, a.profile, a.availability{
    text-transform: uppercase;
    text-decoration: none;
    background: #00a;
    color: #fff;
    font-size: 8px;
    padding: 3px 5px;
    border: 1px groove #00F;
}

a.nameLink{
    color: #000;
}

a.profile{
    background: #090;
    border-color: #0C0;
}

a.availability{
    background: #900;
    border-color: #C00;
}

a.calendar:hover{
    background: #00D;
}

a.availability:hover{
    background: #D00;
}

a.profile:hover{
    background: #0B0;
}

.dhx_scale_bar a{
    color: #000;
}

p{
    line-height: 20px;
}

ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
}

form, fieldset{
    margin: 0;
    padding: 0;
}



/* LAYOUT */

#logo{
    margin: 20px;
}

#wrap{
    margin: 0 auto;    
}

#login, #register, #forgot{
    width: 480px;
    margin: 20px auto 0;
    text-align: left;
    background: #eee;
    padding: 20px 30px 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div.error{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #fee;    
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    color: #f00;
}

div.tinyerror{
    color: #f00;
}

div.confirm{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #efe;    
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    color: #0a0;
}

span#buttontext, span#deletebuttontext{
    font-size: 12px;
    margin-left: 10px;
    color: #aaa;
}

span#buttontext a{
    color: #999;
}

span#buttontext a:hover{
    color: #666;
}

#step{
    width: 90%;
    margin: 20px auto 0;
    text-align: left;
    background: #eee;
    padding: 20px 30px 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


/* --- EXPERIMENT --- */
#step, #login, #register, #forgot{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-border-radius:4px;
}
/* --- END EXPERM --- */


.calendar{
    width: 100%;    
}

.calendar thead td{
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
}

.calendar tbody td{
    width: 14.2%;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    background: #fff;
    font-size: 12px;
}

.calendar tbody td.blocked{
    color: #aaa;
}

.calendar td a{
    color: #fff;    
}

.calendar td.avail{
    background: #0a0;    
}


#footer{
    font-size: 10px;
    padding: 10px;
    color: #aaa;
    text-align: center;
}

#footer a{
    color: #999;
    text-decoration: none;
}

#footer a:hover{
    color: #666;
    text-decoration: underline;
}

/* DEFAULT TEXT STYLES */
h1{
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin: 10px 0 10px;
}

h1 span#stepid{
    color: #999;
}

h3 span{
    color: #999;
    font-weight: normal;
}


p#progress{
    margin: 20px 0;
}

p#confirm{
    margin: 20px 0;
    background: #fff; 
    padding: 20px; 
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/* FORM */
label span{
    color: #a00;
}

fieldset{
    border: none;
}

legend{
    display: none;
}

label{
    display: block;
    font-weight: bold;
    font-size: 12px;
}

input.button{
    background: #3279BB;
    color: #fff;
    border: 1px groove #090;
    padding: 7px 21px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: hand;
    cursor: pointer;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow: 1px 1px 5px #ccc;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    box-shadow: 1px 1px 5px #aaa;  
}

input.achtung{
    background: #C00;
    color: #fff;
    border: 1px groove #C00;
}

input.achtung:hover{
    background: #F00;
    /* border: 1px groove #0A0; */
}

input.bsmall{
    padding: 3px 7px;
    font-size: 10px;
    margin: 0;
}

input.disabled{
    background: #999;
    border: 1px groove #aaa;
    cursor: default;
}

input.disabled:hover{
    background: #999;
    /* border: 1px groove #666; */
}

input.textInput, input.textInputTiny, input.deleteTextInput{
    width: 97%;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

input.textInputTiny{
    padding: 3px;
    font-size: 12px;
    margin: 0;
}

input.readonly{
    color: #666;
    background: #fff;
}

select.chooser{
    display: block;    
    margin-bottom: 20px;
    font-size: 12px;
}

textarea.confirmNote{
    width: 97%;
    height: 70px;
    border: 1px solid #aaa;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}



/* ADMIN SIDE */


#stepfull{
    margin: 20px auto 0;
    text-align: left;
    background: #eee;
    padding: 20px 30px 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#stepfull.naked{
    margin: 0;
    background: #fff;
}

#header{
    height: 30px;
    border-top: 2px solid #00C;
    background: #003;
    border-bottom: 1px solid #00F;
    text-align: left;
}

ul#menu, ul#menu li, ul#rightmenu, ul#rightmenu li{
    padding: 0;
    margin: 0;
}

ul#menu li, ul#rightmenu li{
    list-style: none;
    float: left;
    color: #fff;
    line-height: 30px;
    margin: 0;
    border-right: 1px solid #333;
    padding: 0 20px;
    font-size: 12px;
}

ul#rightmenu li{
    float: right;
    border-left: 1px solid #333;
    border-right: none;
}

ul#menu li.current, ul#rightmenu li.current{
    background: #006;
}

ul#menu li a, ul#rightmenu li a{
    text-decoration: none;
    color: #fff;
}

ul#menu li a:hover, ul#rightmenu li a:hover{
    text-decoration: underline;
}


#content{
    background: #fff;
    text-align: left;
    padding: 10px 20px;
}

#content.naked{
    padding: 0;
    background: #eee;
}

.dhx_cal_navline, .dhx_cal_container{
    background: #fff;
}

#avSettings{
    margin: 0px 20px 20px;
}

#avSettings td{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#avSettings thead td{
    text-align: center;
    font-weight: bold;  
    border-bottom: 1px solid #999;
}

#avSettings tfoot td{
    border-bottom: none;
}

#avSettings tr.highlight td{
    background: #ffe;
}


#adminSubMenu, #adminSubMenu li{
    margin: 0;
    padding: 0;    
}

#adminSubMenu{
    margin-left: 20px;
    margin-bottom: 30px;
}

#adminSubMenu li{
    float: left;
    list-style: none;
    background: #ccc;
    padding: 8px 20px 8px;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;    
    margin-left: 10px;
}

#adminSubMenu li.active{
    background: #eee;
}

#adminSubMenu li a{
    color: #000;
    font-weight: bold;
}

#adminSubMenu li.active a{
    text-decoration: none;
}

#adminSubMenu li a:hover{
    text-decoration: none;
}



#nMatrix td{
    padding: 5px;
}

#nMatrix thead td{
    border-bottom: 1px solid #000;
    font-weight: bold;
    text-align: center;
}

#nMatrix tbody td{
    border-bottom: 1px solid #ccc;
}

#nMatrix tbody td.inputBox{
    text-align: center;
}

#nMatrix td.inputSMS{
    border-left: 1px solid #ccc;
}

#nMatrix tbody tr.last td{
    border: none;
    padding: 0;
}

#nMatrix tfoot td{
    padding-top: 10px;
}

div.popup textarea{
    width: 96%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

h3.inpopup{
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-weight: normal;
}

div.popup label{
    display: block;
    font-weight: bold;
    font-size: 12px;
}

table.mTable td{
    padding: 5px;
}

table.mTable thead td{
    border-bottom: 1px solid #666;
    font-weight: bold;
    background: #ddd;
}

table.mTable tbody td{
    border-bottom: 1px solid #eee;
    background: #fff;
}

table.mTable tfoot td{
    border-top: 1px solid #ddd;
}

#confirm_appointment{
    padding-left: 20px;
}





#timeSelector{
    width: 400px;
}

#timeSelector tr td{
    background: #fff;
    padding: 7px 5px;
    border-bottom: 1px solid #eee;
}

#timeSelector tr td.date{
    width: 70px;
    text-align: center;
    font-size: 90%;
    border-right: 1px solid #eee;
}

#timeSelector tr td.time:hover{
    background: #efe;
}

#timeSelector tr td.selected{
    background: #cfc;
}

#timeSelector tr td.selected:hover{
    background: #cfc;
}


div.timeNavi{
    width: 400px;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding: 5px 0;
}

div.disabled{
    background: #eee;
}

#timeContainer{
    padding: 0 0 20px 0;
}

td.highlight{
    background: #0a0;
}


div.help .help_link{
    margin-top: 5px;
    width: 16px;
    display: block;
    float: right;
}

a.help_link{
    text-decoration: none;
    color: #333;
}

.tooltip{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
   background: #ffc;
   padding: 20px;
   border: 1px solid #cc9;
   width: 350px;
   -moz-box-shadow: 1px 1px 15px #ccc;
   -webkit-box-shadow: 1px 1px 15px #ccc;
   box-shadow: 1px 1px 15px #aaa;
}

#logo{
    margin-left: 50px;
    margin-right: 50px;
}

input.colorPicker{
    width: 60px;
}

span.colorPickerWrap{
    display: none;
}

span.cssLabel{
    display: block;
    width: 150px;
    float: left;
}            

div.userLinks{
    font-size: 10px;
    padding: 5px 0;
}

div.userLinks a{
    margin-right: 7px;
    text-decoration: none;
}

div.userLinks a:hover{
    color: #0a0;
    text-decoration: underline;
}

div.userLinks a:active, div.userLinks a:selected{
    font-weight: bold;
    color: #030;
}

div.pdf_download{
    text-align: center;
    font-size: 11px;
}

input.loading{
    background: url(loading.gif) no-repeat right center;
}